<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>
        Post ajax multiple form
    </title>
</head>
<body>

<p>Multiple form</p>

<form method="POST" action="{{request.get_full_path}}">

    <select multiple="multiple" name="params">
        <option value="1">Value 1</option>
        <option value="2">Value 2</option>
        <option value="3">Value 3</option>
    </select>

    <button type="submit">Submit</button>
</form>

<div id="results">

    <div class="method_calls" id="serialize-jquery">
        <div class="title">
            <h2>jQuery serialize()</h2>
        </div>
        {% include "results.html" %}
    </div>

    <div class="method_calls" id="raw-array">
        <div class="title">
            <h2>Raw array</h2>
        </div>
        {% include "results.html" %}
    </div>

    <div class="method_calls" id="serialize-jquery-manual">
        <div class="title">
            <h2>Manual jQuery serialize() format</h2>
        </div>
        {% include "results.html" %}
    </div>

    <div class="method_calls" id="json-data">
        <div class="title">
            <h2>JSON data</h2>
        </div>
        {% include "results.html" %}
    </div>

    <div class="method_calls" id="ajax-traditional">
        <div class="title">
            <h2>Ajax traditional settings</h2>
        </div>
        {% include "results.html" %}
    </div>

</div>

<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
{% load static %}
<script src="{% static 'blog1_post_ajax_multiple_values/js/post_ajax_values.js' %}">
</script>

</body>
</html>

